#!/usr/bin/env bash
#Update Monitor
INFLUX_HOST="{{ influxdb_bootstrap_host }}"
INFLUX_PORT="{{ influxdb_bootstrap_port }}"

{% for database in influxdb_bootstrap_databases %}
curl -XPOST http://$INFLUX_HOST:$INFLUX_PORT/query --data-urlencode "q=CREATE DATABASE {{ database.name }}"
curl -XPOST http://$INFLUX_HOST:$INFLUX_PORT/query --data-urlencode "q=CREATE USER {{ database.user }} WITH PASSWORD '{{ database.password }}'"
curl -XPOST http://$INFLUX_HOST:$INFLUX_PORT/query --data-urlencode "q=GRANT ALL ON {{ database.user }} TO {{ database.name }}"
curl -XPOST http://$INFLUX_HOST:$INFLUX_PORT/query --data-urlencode "q=CREATE RETENTION POLICY retention_days ON {{ database.name }} DURATION {{ database.retention_days }}d REPLICATION 1 DEFAULT"
{% endfor %}
